.vertical input{
  transform: rotate(90deg);
  width: 75px;
}

.vertical{
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.vertical label{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
}